.page {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
}
.page-big {
  width: 1000px;
  padding: 8% 0 0;
  margin: auto;
}
.page,.page-big h1,h3{
  text-align: center;
}
.form-table {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 550px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input,textarea {
  outline: 0;
  font-family:Arial;
  font-size:14px;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
}
.form button,.form-table button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .error {
  font-family:Arial;
  forn-size:14px;
  color:#FF0000;
}
.form .message{
  font-family:Arial;
  forn-size:14px;
  color:#4CAF50;
}
.form-table table{
  border-spacing: 10px;;
}
.form-table img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 100px;
  align:right;
}
.form-table img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}